<ion-modal-view class="modal-sincronizacao">
  <ion-header-bar>
    <h1 class="title">Sincronizar evento</h1>
    <button class="button button-balanced icon ion-close" style="color: #FFF;" ng-click="closeModal('sincronizacao')"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row">
      <div class="col">
        <div class="list ">
          <label class="item item-input">
            <input type="text" placeholder="Nome do dispositivo" ng-model="config.nomeDispositvo">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="config.codigoEvento" placeholder="Código do evento">
            <button class="button button-stable icon fa fa-qrcode" style="margin: 0 5px 0 0;">  </button>
          </label>
          <div style="text-align: center">
            <button class="button button-large balanced button-balanced ion-ios-cloud-download" style="margin: 20px 0px auto !important;" ng-click="sincronizarAssembleia(config)"> Carregar dados</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>