.item-input, .button {
  border-radius: 4px !important; }

.login-wrapper {
  background: #006F44; }
  .login-wrapper .list {
    text-align: center;
    margin-top: 50%; }
    .login-wrapper .list .item {
      margin-top: 5px;
      padding: 14px; }
    .login-wrapper .list button {
      height: 65px; }
  .login-wrapper .message-error {
    border-radius: 4px;
    background: #EF473A;
    color: #FFF;
    padding: 10px; }
