.item-input,.button {
	border-radius: 4px !important;
}
.login-wrapper {
	background: #006F44;
	.list {
		text-align: center;
		margin-top: 50%;
		.item {
			margin-top:5px;
			padding: 14px;
		}
		button {
			height: 65px;
		}
	}
	.message-error {
		border-radius: 4px;
		background: #EF473A;
		color:#FFF;
		padding: 10px;
	}
}	


		