<ion-view cache-view="false">
  <ion-header-bar class="bar-stable">
    <a class="button button-balanced icon-left ion-chevron-left" ng-click="voltar()" ng-if="usuario.perfil !== 'ASSIST'"> </a>
    <h1 class="title">Lista de Participantes</h1>
    <div class="buttons">
      <button class="button button-balanced icon-right icon-left ion-log-out" ng-click="logout()" ng-if="usuario.perfil === 'ASSIST'"> Logout </button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="row">

    <div class="card row">
      <div class="col-33" style="height: 100%;min-height: 100%;">
        <!-- Sidebar -->
        <div class="col sidebar">
          <div class="row">
            <div class="col">
              <h2>{{assembleia.titulo}}</h2>
              <p><i class="ion-arrow-right-c"></i>{{assembleia.local}}</p>
              <div class="row padding-off">
                <p class="col col-50 padding-off"><i class="ion-ios-calendar-outline"></i>{{assembleia.data}}</p>
                <p class="col col-50 padding-off"><i class="ion-ios-clock-outline"></i> {{assembleia.hora}}</p>
              </div>
            </div>
          </div>
          <div class="row input-box padding-off">
            <div class="list list-inset col" style="position:relative;">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar associado" ng-model="search">
              </label>
              <i class="ion-close-circled" style="color: #666; position: absolute; right: 15px; top: 12px; z-index: 2" ng-show="search.length > 3"
              ng-click="search = ''"> </i>
            </div>
          </div>
          <ion-scroll direction="y" style="height: calc(100% - 173px);">
            <ion-item collection-repeat="participante in assembleia.listaParticipantes | filter:search" ng-click="selectAssociate(participante)" item-height="60px"
            item-width="100%">
              {{participante.nome}} <small style="color: #CCC">(CPF: ***.***.**{{participante.cpf}})</small>
            </ion-item>

          </ion-scroll>
        </div>
        <!--/ Sidebar -->
      </div>

      <div class="col-66 verify-signature" ng-show="participanteSelecionado.nome && !participanteSelecionado.assinatura">
        <div class="row">
          <div class="row">
            <div class="col">
              <h2 style="text-align: center"><span>{{participanteSelecionado.primeiroNome}}</span>, deseja confirmar presença?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="button button-balanced" ng-click="openModal(participanteSelecionado)" style="margin:auto">Confirmar </button>
        </div>
      </div>

      <div class="col-66 verify-signature" ng-show="!participanteSelecionado.nome">
        <div class="row">
          <div class="row">
            <div class="col">
              <h2 style="text-align: center">Selecione um associado na lista de participantes</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-66" ng-show="participanteSelecionado.assinatura" style="padding: 10px">
        <div class="list">
          <a class="item" href="#">
            <h2>{{participanteSelecionado.nome}}</h2>
            <p><i class="ion-ios-location"></i> {{participanteSelecionado.endereco}}</p>
          </a>
        </div>
        <img ng-src='{{participanteSelecionado.assinatura}}' style="width: 100%;" />
      </div>

    </div>

  </ion-content>
</ion-view>