<ion-modal-view class="modal-assinatura">
    <ion-header-bar class="bar-stable">
    	<button class="button button-balanced icon ion-checkmark" ng-click="salvarAssinatura(participanteSelecionado)">Salvar</button>
    	<h1 class="title">{{participanteSelecionado.nome}} - (CPF: ***.***.**{{participanteSelecionado.cpf}})</h1>
    	<button class="button button-balanced icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content scroll="false">
		<canvas id="assinaturaCanvas"></canvas>
    </ion-content>
  </ion-modal-view>